* {
    margin: 0;
    padding: 0;
}

.section1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

.div1 {
    width: 25%;
    height: 100vh;
    padding-left: 8%;


}

.div1 ul {
    padding-top: 5vh;


}

.div1 ul li {
    text-decoration: none;
    list-style-type: none;
}

.tweet1 {
    width: 150px;
    height: 6vh;
}

.bird{
    height:7vh;
}

.userDet{
    margin-top:5vh;
}

.profilepic{
    width:70px;
    height:70px;
    border-radius:50%;
}

.vl1{
    border-left: 1px solid grey;
    height: 100vh;
}

.div2 {
    width: 45%;
    height: 100vh;
    overflow-y : auto;
    position: relative;
}

.profilebackground {
    width: 100%;
    height: 30vh;
}

.profilepic2{
    width:150px;
    height:150px;
    border-radius:50%;
}

.backimg{
    width:100%;
    height:30vh;
}

.profileimg {
    position: absolute;
    top:22vh;
    left:4%;
}

.profile{
    width: 50px;
    height:10vh;
}

.edit{
    background-color: transparent;
    border-radius: 50px;
    border:1px solid gray;
    color:black;
    position: absolute;
    right:2%;
    margin-top: 2vh;
}

.div2 h1 {
    font-size: 20px;
    margin-top:8vh;
    padding-left: 2%;
}

.div2 h2 {
    font-size: 18px;
    margin-top:2vh;
    padding-left: 2%;
}

.div2 input {
    margin-top: 4vh;
}

.tweet2 {
    width: 100px;
}



.tweetheader{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.tweetheader h1{
    display: flex;
    flex-direction: row;
    width:400px;
    font-size:15px;
}

.tweetheader img{
    width:60px;
    height:60px;
    border-radius:50%;
}

.tweetheader button{
    height:5vh;
}

.tweetbody{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.tweetbody img{
width:30px;
height:30px;
}

.tweeticon{
    height:2vh;
}
.vl2{
    border-left: 1px solid grey;
    height: 100vh;
}

.div3 {
    width: 30%;
    height: 100vh;
    padding-top: 2vh;
    padding-left: 4%;

}

.div3 input {
    width: 300px;
    height: 5vh;
}

.container1 {
    background-color: rgb(231, 229, 229);
    border: none;
    border-radius: 40px;
    width: 65%;
    height: 80vh;
    margin-top: 5vh;
}